body {
  transition: background-color 0.5s ease;
  display: grid;
  place-items: center;
  background-image: url("./Images/City.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255); /* Set font color */
}

h1, h2, h3 {
  color: rgb(255, 0, 0); /* Set heading color */
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  justify-items: center;
  margin-top: 20px;
  position: relative;
  z-index: 1;
}

.image-gallery img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  position: relative;
  z-index: 2;
}

.image-gallery img:hover {
  transform: scale(1.1);
}

.disclaimer {
  font-style: italic;
  margin-top: 20px;
}

h3 {
  color: rgb(0, 255, 0); /* Set custom color for h3 */
}

@media screen and (max-width: 767px) {
  .image-gallery {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .image-gallery img:hover {
    transform: scale(1);
  }
}

.brochure {
  position: relative;
  z-index: 2;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grid li {
  list-style-type: none;
}

.grid img {
  max-width: 100%;
  height: auto;
}

