.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }
  
  .day {
    border-radius: 10px;
    padding: 10px;
    text-align: right;
  }
  
  .highlight {
    background-color: #ffcc00;
  }
  